/* .bgimg{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    z-index: -10;
}

.light{
  height: 0;
  width: 40rem;
  position: absolute;
  top: 20%;
  right: -5%;
  z-index: -10;
  box-shadow: 0 0 900px 20px #e99b63;
  transform: rotate(140deg); 
} */